{% extends 'base.html.twig' %}

{% block titrePage %}

	{% if action == "creer" %}

		Création d'une entreprise

	{% else %}

		Modification d'une entreprise

	{% endif %}
{% endblock %}

{% block contenuPage %}

{{ form_start(vueFormulaire, { 'attr' : {'novalidate':'novalidate'}}) }}

{{ form_row(vueFormulaire.nom,  {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}
{{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Son activité..."}}) }}
{{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Son adresse..."}}) }}
{{ form_row(vueFormulaire.siteWeb, {'attr':{'placeholder':"Son site web..."}}) }}

<button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(vueFormulaire) }}

{% endblock %}